<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Система просмотра контента</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>Добро пожаловать!</h1>
        <p>Введите категории изображения:</p>
    </div>

    <div style="text-align: center;">
        <form action="{% url 'show_picture'%}">
            <textarea name="category" rows="1" cols="50"></textarea>
            <br><br>
            <textarea name="category" rows="1" cols="50"></textarea>
            <br><br>
            <textarea name="category" rows="1" cols="50"></textarea>
            <br><br>
            <textarea name="category" rows="1" cols="50"></textarea>
            <br><br>
            <textarea name="category" rows="1" cols="50"></textarea>
            <br><br>
            <textarea name="category" rows="1" cols="50"></textarea>
            <br><br>
            <textarea name="category" rows="1" cols="50"></textarea>
            <br><br>
            <textarea name="category" rows="1" cols="50"></textarea>
            <br><br>
            <textarea name="category" rows="1" cols="50"></textarea>
            <br><br>
            <textarea name="category" rows="1" cols="50"></textarea>
            <br><br>
            <input type="submit" value="Поиск">
            <br><br>
        </form>
    </div>

    <div style="text-align: center;">
        <p>Перед выходом пожалуйста очистите базу данных:</p>
        <form action="{% url 'del_db'%}">
          <button type="submit">Очистить базу данных</button>
        </form>
    </div>
</body>
</html>