<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Изображение</title>
</head>
<body>

    <div style="text-align: center;">
        <h2>Найденное изображение:</h2>
        <img src={{ URL }} width="600" height="400" class="rounded">
    </div>

    <div style="text-align: center;">
        <form action="{% url 'home'%}" method="get">
          <button type="submit">Вернуться на главную страницу</button>
        </form>
    </div>


</body>
</html>